__pycache__/
outputs/
ckpts/
vqgan/vqgan_pretrained/
vqgan/vqgan_taming_ckpt/
data/
models/datasets/.cache/
*.json
output/
tmp*
multirun/
.nfs*
lightning_logs/
static/
archive/
output_profile/
logs/
.history/
.cache/
output*/
*.out
*.parquet
wandb/
vqgan/
*.csv
.python-version
ft_cache/
alias.txt
env.sh
generated_image.png
Untitled-1.ipynb
*.log
demo/old
*.pem
.sesskey
icons.py
generated/