accelerate
transformers
ipdb
ipython
rich
transformers
wandb
datasets
h5py
fsspec
timm
pandas
ml_collections
typer
braceexpand
torch-fidelity
scikit-learn
lovely-tensors
torchtnt
torchinfo
pynvml
diffusers
omegaconf
tensordict
lightning_utilities
torchtnt
torchmetrics
jaxtyping
einops
peft
sentencepiece
numpy>=2.0.0
clean-fid
hf_transfer